
[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=false:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_diagnostic.bc40000.severity=warning
dotnet_diagnostic.bc400005.severity=warning
dotnet_diagnostic.bc40008.severity=warning
dotnet_diagnostic.bc40056.severity=warning
dotnet_diagnostic.bc42016.severity=warning
dotnet_diagnostic.bc42024.severity=warning
dotnet_diagnostic.bc42025.severity=warning
dotnet_diagnostic.bc42104.severity=warning
dotnet_diagnostic.bc42105.severity=warning
dotnet_diagnostic.bc42106.severity=warning
dotnet_diagnostic.bc42107.severity=warning
dotnet_diagnostic.bc42304.severity=warning
dotnet_diagnostic.bc42309.severity=warning
dotnet_diagnostic.bc42322.severity=warning
dotnet_diagnostic.bc42349.severity=warning
dotnet_diagnostic.bc42353.severity=warning
dotnet_diagnostic.bc42354.severity=warning
dotnet_diagnostic.bc42355.severity=warning
dotnet_diagnostic.bc42356.severity=warning
dotnet_diagnostic.bc42358.severity=warning
dotnet_diagnostic.cs0067.severity=warning
dotnet_diagnostic.cs0078.severity=warning
dotnet_diagnostic.cs0108.severity=warning
dotnet_diagnostic.cs0109.severity=warning
dotnet_diagnostic.cs0114.severity=warning
dotnet_diagnostic.cs0162.severity=warning
dotnet_diagnostic.cs0164.severity=warning
dotnet_diagnostic.cs0168.severity=warning
dotnet_diagnostic.cs0169.severity=warning
dotnet_diagnostic.cs0183.severity=warning
dotnet_diagnostic.cs0184.severity=warning
dotnet_diagnostic.cs0197.severity=warning
dotnet_diagnostic.cs0219.severity=warning
dotnet_diagnostic.cs0252.severity=warning
dotnet_diagnostic.cs0253.severity=warning
dotnet_diagnostic.cs0414.severity=warning
dotnet_diagnostic.cs0420.severity=warning
dotnet_diagnostic.cs0465.severity=warning
dotnet_diagnostic.cs0469.severity=warning
dotnet_diagnostic.cs0612.severity=warning
dotnet_diagnostic.cs0618.severity=warning
dotnet_diagnostic.cs0628.severity=warning
dotnet_diagnostic.cs0642.severity=warning
dotnet_diagnostic.cs0649.severity=warning
dotnet_diagnostic.cs0657.severity=warning
dotnet_diagnostic.cs0658.severity=warning
dotnet_diagnostic.cs0659.severity=warning
dotnet_diagnostic.cs0660.severity=warning
dotnet_diagnostic.cs0661.severity=warning
dotnet_diagnostic.cs0665.severity=warning
dotnet_diagnostic.cs0672.severity=warning
dotnet_diagnostic.cs0693.severity=warning
dotnet_diagnostic.cs1030.severity=warning
dotnet_diagnostic.cs1058.severity=warning
dotnet_diagnostic.cs1066.severity=warning
dotnet_diagnostic.cs1522.severity=warning
dotnet_diagnostic.cs1570.severity=warning
dotnet_diagnostic.cs1571.severity=warning
dotnet_diagnostic.cs1572.severity=warning
dotnet_diagnostic.cs1573.severity=warning
dotnet_diagnostic.cs1574.severity=warning
dotnet_diagnostic.cs1580.severity=warning
dotnet_diagnostic.cs1581.severity=warning
dotnet_diagnostic.cs1584.severity=warning
dotnet_diagnostic.cs1587.severity=warning
dotnet_diagnostic.cs1589.severity=warning
dotnet_diagnostic.cs1590.severity=warning
dotnet_diagnostic.cs1591.severity=warning
dotnet_diagnostic.cs1592.severity=warning
dotnet_diagnostic.cs1710.severity=warning
dotnet_diagnostic.cs1711.severity=warning
dotnet_diagnostic.cs1712.severity=warning
dotnet_diagnostic.cs1717.severity=warning
dotnet_diagnostic.cs1723.severity=warning
dotnet_diagnostic.cs1911.severity=warning
dotnet_diagnostic.cs1957.severity=warning
dotnet_diagnostic.cs1981.severity=warning
dotnet_diagnostic.cs1998.severity=warning
dotnet_diagnostic.cs4014.severity=warning
dotnet_diagnostic.cs7095.severity=warning
dotnet_diagnostic.cs8094.severity=warning
dotnet_diagnostic.cs8123.severity=warning
dotnet_diagnostic.cs8321.severity=warning
dotnet_diagnostic.cs8383.severity=warning
dotnet_diagnostic.cs8416.severity=warning
dotnet_diagnostic.cs8417.severity=warning
dotnet_diagnostic.cs8424.severity=warning
dotnet_diagnostic.cs8425.severity=warning
dotnet_diagnostic.cs8509.severity=warning
dotnet_diagnostic.cs8597.severity=warning
dotnet_diagnostic.cs8600.severity=warning
dotnet_diagnostic.cs8601.severity=warning
dotnet_diagnostic.cs8602.severity=warning
dotnet_diagnostic.cs8603.severity=warning
dotnet_diagnostic.cs8604.severity=warning
dotnet_diagnostic.cs8605.severity=warning
dotnet_diagnostic.cs8607.severity=warning
dotnet_diagnostic.cs8608.severity=warning
dotnet_diagnostic.cs8609.severity=warning
dotnet_diagnostic.cs8610.severity=warning
dotnet_diagnostic.cs8611.severity=warning
dotnet_diagnostic.cs8612.severity=warning
dotnet_diagnostic.cs8613.severity=warning
dotnet_diagnostic.cs8614.severity=warning
dotnet_diagnostic.cs8615.severity=warning
dotnet_diagnostic.cs8616.severity=warning
dotnet_diagnostic.cs8617.severity=warning
dotnet_diagnostic.cs8618.severity=warning
dotnet_diagnostic.cs8619.severity=warning
dotnet_diagnostic.cs8620.severity=warning
dotnet_diagnostic.cs8621.severity=warning
dotnet_diagnostic.cs8622.severity=warning
dotnet_diagnostic.cs8624.severity=warning
dotnet_diagnostic.cs8625.severity=warning
dotnet_diagnostic.cs8629.severity=warning
dotnet_diagnostic.cs8631.severity=warning
dotnet_diagnostic.cs8632.severity=warning
dotnet_diagnostic.cs8633.severity=warning
dotnet_diagnostic.cs8634.severity=warning
dotnet_diagnostic.cs8643.severity=warning
dotnet_diagnostic.cs8644.severity=warning
dotnet_diagnostic.cs8645.severity=warning
dotnet_diagnostic.cs8655.severity=warning
dotnet_diagnostic.cs8656.severity=warning
dotnet_diagnostic.cs8667.severity=warning
dotnet_diagnostic.cs8670.severity=warning
dotnet_diagnostic.cs8714.severity=warning
dotnet_diagnostic.cs8762.severity=warning
dotnet_diagnostic.cs8763.severity=warning
dotnet_diagnostic.cs8764.severity=warning
dotnet_diagnostic.cs8765.severity=warning
dotnet_diagnostic.cs8766.severity=warning
dotnet_diagnostic.cs8767.severity=warning
dotnet_diagnostic.cs8768.severity=warning
dotnet_diagnostic.cs8769.severity=warning
dotnet_diagnostic.cs8770.severity=warning
dotnet_diagnostic.cs8774.severity=warning
dotnet_diagnostic.cs8775.severity=warning
dotnet_diagnostic.cs8776.severity=warning
dotnet_diagnostic.cs8777.severity=warning
dotnet_diagnostic.wme006.severity=warning
dotnet_diagnostic.xunit1000.severity=error
dotnet_diagnostic.xunit1001.severity=error
dotnet_diagnostic.xunit1002.severity=error
dotnet_diagnostic.xunit1003.severity=error
dotnet_diagnostic.xunit1005.severity=warning
dotnet_diagnostic.xunit1006.severity=warning
dotnet_diagnostic.xunit1007.severity=error
dotnet_diagnostic.xunit1008.severity=warning
dotnet_diagnostic.xunit1009.severity=error
dotnet_diagnostic.xunit1010.severity=error
dotnet_diagnostic.xunit1011.severity=error
dotnet_diagnostic.xunit1012.severity=warning
dotnet_diagnostic.xunit1013.severity=warning
dotnet_diagnostic.xunit1014.severity=warning
dotnet_diagnostic.xunit1015.severity=error
dotnet_diagnostic.xunit1016.severity=error
dotnet_diagnostic.xunit1017.severity=error
dotnet_diagnostic.xunit1018.severity=error
dotnet_diagnostic.xunit1019.severity=error
dotnet_diagnostic.xunit1020.severity=error
dotnet_diagnostic.xunit1021.severity=warning
dotnet_diagnostic.xunit1022.severity=error
dotnet_diagnostic.xunit1023.severity=error
dotnet_diagnostic.xunit1024.severity=error
dotnet_diagnostic.xunit1025.severity=warning
dotnet_diagnostic.xunit1026.severity=warning
dotnet_diagnostic.xunit2000.severity=warning
dotnet_diagnostic.xunit2001.severity=none
dotnet_diagnostic.xunit2002.severity=warning
dotnet_diagnostic.xunit2003.severity=warning
dotnet_diagnostic.xunit2004.severity=warning
dotnet_diagnostic.xunit2005.severity=warning
dotnet_diagnostic.xunit2006.severity=warning
dotnet_diagnostic.xunit2007.severity=warning
dotnet_diagnostic.xunit2008.severity=warning
dotnet_diagnostic.xunit2009.severity=warning
dotnet_diagnostic.xunit2010.severity=warning
dotnet_diagnostic.xunit2011.severity=warning
dotnet_diagnostic.xunit2012.severity=warning
dotnet_diagnostic.xunit2013.severity=warning
dotnet_diagnostic.xunit2014.severity=error
dotnet_diagnostic.xunit2015.severity=warning
dotnet_diagnostic.xunit2016.severity=error
dotnet_diagnostic.xunit2017.severity=warning
dotnet_diagnostic.xunit2018.severity=warning
dotnet_diagnostic.xunit2019.severity=none
dotnet_diagnostic.xunit3000.severity=error
dotnet_diagnostic.xunit3001.severity=error
dotnet_naming_style.i_upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix=I
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.lower_camel_case_style_1.capitalization=camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization=pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix=T
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multiline_for_stmt=true
resharper_autodetect_indent_settings=true
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_case=1
resharper_braces_for_for=required
resharper_braces_for_foreach=required
resharper_braces_for_ifelse=required_for_multiline
resharper_braces_for_while=required
resharper_csharp_blank_lines_around_field=0
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_stick_comment=false
resharper_indent_preprocessor_if=usual_indent
resharper_indent_preprocessor_other=usual_indent
resharper_place_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_simple_declaration_blocks_on_single_line=false
resharper_show_autodetect_configure_formatting_tip=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indent_from_vs=false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_cpp_clang_tidy_clang_analyzer_cplusplus_smart_ptr_highlighting=none
resharper_cpp_clang_tidy_clang_diagnostic_asm_ignored_qualifier_highlighting=warning
resharper_cpp_clang_tidy_clang_diagnostic_experimental_isel_highlighting=warning
resharper_cpp_clang_tidy_fuchsia_restrict_system_includes_highlighting=none
resharper_delegate_subtraction_highlighting=warning
resharper_identifier_typo_highlighting=hint
resharper_introduce_optional_parameters_global_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_redundant_type_specification_in_default_expression_highlighting=suggestion
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[*.{appxmanifest,asax,ascx,aspx,build,cg,cginc,compute,cs,cshtml,dtd,fs,fsi,fsscript,fsx,hlsl,hlsli,hlslinc,master,ml,mli,nuspec,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,fs,fsi,fsscript,fsx,hlsl,hlsli,hlslinc,master,ml,mli,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
